{% extends "shop/basic.html" %}
{% block title %} {{product.product_name}} My Cart {% endblock title %}
{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img src="/media/{{product.image}}" alt="" width="100%">
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-primary mx-2">Buy Now</button>
                <button class="btn btn-primary mx-2">Add to Cart</button>
            </div>
        </div>
        <div class="col-md-8 ">
            <h5>{{product.product_name}} bame</h5>
            <p><strong>Rs. {{product.price}}</strong></p>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock js %}